@media (max-width: 480px) {
    /* body {
        height: 50%;
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 16px;
    } */
    .videos {

    
    }
    .search-input {
        font-size: 28px;
    }
    .search-hint {
        font-size: 18px;
    }
}