* {
    margin: 0;
    padding: 0;
}
/* MAIN STRUCTURE */

body {
    width: 100vw;
    height: 80vh;
    background-color: black;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
    padding-bottom: 5%;
}

.top,
.middle,
.bottom {
    text-align: center;
    position: relative;
}

.videos,
.middle,
.grid {
    display: grid;
    place-items: center;
}

.search-input,
.videos,
.full-area {
    grid-area: 1/1;
}

/* TOP */

.title {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 32px;
    line-height:2;
    height: auto;
}

.search-clear {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

/* MIDDLE */

.middle {
    height: 90%;

}
input {
    background-color: transparent;
    border: none;
    outline: none;  
    text-align: center;
    color: white;
    margin: 24px; 
}

.search-input {

    font-size: 68px;
    font-weight: bold;
}


.search-input {
    /* width: 100vw; */
    line-height: 1;
    height: 88px;
}

.search-input::placeholder {
    color: #323232;
}

.video {
    grid-area: 1/1;
    min-width: 50%;
    min-height: 50%;
    display: block;
}
.video {
    width: 100%;
}

.videos {
    width: auto;

}

/* BOTTOM */

.bottom {
    width: 320px;

    align-self: center;
}
.search-hint {

    font-size: 22px;
    font-weight: 500;
}


/* ACTIVATIONS & TRANSITIONS */

.search-clear,
.spinner {
    transition: opacity 0.5s ease;
    opacity: 0;

}

.search-hint,
.spinner {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.show-hint .search-hint,
.loading .spinner,
.has-results .search-clear {
  opacity: 1;
}

.loading .search-hint,
.has-results .title {
  opacity: 0;
}

.title {
  transition: opacity 0.5s ease;
}