* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MAIN STRUCTURE - GRID DISPLAY*/

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 10vh 70vh 10vh 5vh;
}

.top,
.middle,
.bottom {
    position: relative;
    display: grid;
    place-items: center;
}

.videos,
.middle,
.grid {
    display: grid;
    place-items: center;
}

.search-input,
.videos,
.full-area {
    grid-area: 1/1;
}

/* TOP */

.top {
    grid-column: 1/1;
    grid-row: 2/3;
}

.title {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 2.5;
    height: auto;
}

.search-clear {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

/* MIDDLE */

.middle {
    height: 70vh;
    grid-column: 1/1;
    grid-row: 3/4;
    place-items: center;
}

input {
    background-color: transparent;
    border: none;
    outline: none;  
    text-align: center;
    color: white;
    margin: 24px; 
}

.search-input {
    font-size: 68px;
    line-height: 2.5;
    font-weight: 700;
}

.search-input {
    line-height: 1;
}

.search-input::placeholder {
    color: #323232;
}

.video {
    grid-area: 1/1;
    max-width: 600px;
    display: block;
}

/* BOTTOM */

.bottom {
        grid-column: 1/1;
        grid-row: 4/5;  
}

.search-hint {
    font-size: 22px;
    font-weight: 500;
    line-height: 2.5;
}


/* ACTIVATIONS & TRANSITIONS */

.search-clear,
.spinner {
    transition: opacity 0.5s ease;
    opacity: 0;
}

.search-hint,
.spinner {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.show-hint .search-hint,
.loading .spinner,
.has-results .search-clear {
  opacity: 1;
}

.loading .search-hint,
.has-results .title {
  opacity: 0;
}

.title {
  transition: opacity 0.5s ease;
}